* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.heading {
	background-color: #009879;
	color: #ffffff;
	padding: 10px 10px;
	margin-bottom: 20px;
	text-align: center;
}

.mini_heading {
	margin: 0 25px;
}

.add {
	color: #009879;
	margin: 0 25px;
	font-size: 1.4em;
	font-weight: bolder;
	/* text-decoration: none; */
}

.table {
	border-collapse: collapse;
	margin: 20px 25px;
	font-size: 0.9em;
	font-family: sans-serif;
	width: 90%;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
}

.table th,
.table td {
	padding: 12px 15px;
}

.table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.edit {
	text-decoration: none;
	color: rgb(7, 165, 7);
	font-weight: bolder;
}

.delete {
	text-decoration: none;
	color: #fc0101;
	font-weight: bolder;
}
